<h1>Over Art'istine</h1>
<p>Art'istine is ontstaan vanuit een drang om te creëren. 
  Voor elk feest, voor elke geboorte, verjaardag, trouw, overlijden of verhuis maakte ik de leukste dingetjes. 
  Hoe langer hoe meer kwam de vraag van mensen om alles eens te bundelen, zodat ze zelf ook ideeën konden opdoen.</p>
<p>Dat was het begin van Art'Istine. Je vind dan ook een beknopt overzicht van wat ik de laatste tijd zoal gemaakt heb.</p>

<h2>Wie ben ik?</h2>
<p>Ik ben een moeder van 7, die altijd op zoek is om samen met de kinderen bezig te zijn. 
  Op regenachtige of koude dagen betekent dit binnen bezig zijn.
  Wat is er dan leuker om samen te knutselen?</p>

<h2>Vragen?</h2>
<p>Contacteer me gerust via de <%=link_to "contactpagina", contact_path %> voor verdere vragen.</p>
