<%if Artwork.published.where(id: params[:id]).exists?%>
  <%@artwork = Artwork.find params[:id]%>

    <h1><%=@artwork.name%></h1>



<%else%>
  <div>
    <h1>Error</h1>
    <h3> De gevraagde pagina kon niet gevonden worden<h3>
  </div>
<%end%>