// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
/* line 20, app/assets/stylesheets/active_admin.scss */
.status_tag.ok, .status_tag.published, .status_tag.complete, .status_tag.completed, .status_tag.green {
  background: #8daa92;
}

/* line 21, app/assets/stylesheets/active_admin.scss */
.status_tag.warn, .status_tag.warning, .status_tag.orange {
  background: #e29b20;
}

/* line 22, app/assets/stylesheets/active_admin.scss */
.status_tag.error, .status_tag.errored, .status_tag.red {
  background: #d45f53;
  color: white;
}

.button--red{
  background: #d45f53 !important;
  color: white !important;
  border: none !important;
  text-shadow: none !important;
}

.button--green{
  background: #8daa92 !important;
  border: none !important;
  text-shadow: none !important;
}

.column--width-200{
  width: 200px !important;
}
