// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabs {
  position: relative; 
}

.navbar-nav {
  text-decoration: none !important;
}

.navbar-nav:hover{
  text-decoration: none !important;
}


.nav-link {
  text-decoration: none !important;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover{
  text-decoration: none !important;
  font-weight: bold;
  font-size: 18px;
}

#footer{
  font-size: 14px; 
}

.card{
  height: 100%;
  margin-bottom: 12px;
}

.card-group{
  margin-bottom: 100px !important;
}

.card-body{
  position: relative
}

.card-footer{
  height: 10%;
}

.test{
  position: absolute;
  right: 16px;
  top: 20px;
  width: 70px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 210px 0;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-color: #D56149;
  border-bottom-width: 1px;
  margin-bottom: 20px;
}

.welcome-text {
  text-align: center;
  margin-bottom: 20px;
}

.keyword-group{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(91, 178, 162); opacity: 0.5;
  color: black;
}

.category-description{
  margin-bottom: 20px;
  border: 1px solid #F4BE46;
  padding: 20px;
}